@import 'functions';

.menu-desktop {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: rem(32);

  &__link {
    text-decoration: none;
    color: var(--color-text-gray);
    display: flex;
    align-items: center;
    gap: rem(8);
  }
}
