<header class="header">
  <div class="header__logo">
    <app-logo />
  </div>

  <div class="header__menu">
    <div class="header__menu-theme header__menu-theme--mobile">
      <app-menu-theme />
    </div>

    <div
      class="header__menu-icon"
      [attr.aria-label]="'showOrHideMenu' | translate"
    >
      <app-menu-icon [active]="showMenu" (actionToggleMenu)="toggleMenu()" />
    </div>

    <div class="header__menu-desktop desktop">
      <app-menu-desktop [menuItems]="menuItems" />
    </div>

    <div class="header__menu-theme header__menu-theme--desktop">
      <app-menu-theme />
    </div>
  </div>
</header>

<div class="menu-mobile mobile">
  <app-menu-mobile
    [active]="showMenu"
    [menuItems]="menuItems"
    (actionToggleMenu)="toggleMenu()"
  />
</div>
