@import 'functions';
@import 'vars';

.menu-mobile {
  position: fixed;
  margin: auto;
  top: rem(-68);
  z-index: 5;
  left: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  border-radius: rem(16);
  background-color: var(--color-gray-light);
  box-shadow: $boxShadow;

  &--active {
    top: rem(68);
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    box-sizing: border-box;
    padding: rem(8) rem(16);
    &:nth-of-type(1) {
      border-bottom: rem(1) solid rgba($colorGrayDark, 0.2);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-blue);
    font-family: var(--font-semibold);
    display: flex;
    width: 100%;
    height: 100%;
  }
}
