@if (transactionData) {
<article class="card-price">
  <div class="card-price__header">
    <span class="card-price__title">
      {{
        'totalSales' + transactionData.dateFilter
          | translate : { month: transactionData.monthName }
      }}
    </span>
    <i
      class="card-price__info info"
      [attr.aria-label]="
        'totalSales' + transactionData.dateFilter
          | translate : { month: transactionData.monthName }
      "
    >
      <span class="info__icon">i</span>
      <span class="info__text info__text--left">{{
        'totalSales' | translate
      }}</span>
    </i>
  </div>

  <div class="card-price__content">
    <div class="card-price__value">
      {{ transactionData.totalSales | currency : '$' : 'symbol' : '1.0-0' }}
    </div>

    @if(transactionData.dateFilter === dateOption.TODAY) {
    <div class="card-price__date">
      {{ monthName | translate }} {{ dayName }}
    </div>
    }
  </div>
</article>
}
