@import 'mixins';
@import 'functions';
@import 'vars';

.table__desktop {
  width: 100%;

  @include media(tablet) {
    display: table;
  }
}

.table {
  background-color: var(--color-gray-light);
  border-radius: rem(16);
  overflow: hidden;
  box-shadow: $boxShadow;

  &--blue {
    color: var(--color-blue);
    font-family: var(--font-semibold);
  }

  &--gray {
    color: var(--color-gray-dark);
  }

  &--red {
    color: var(--color-red);
  }

  &__th {
    text-align: left;
    box-sizing: border-box;
    padding: rem(16) rem(32);
    font-size: rem(18);
    font-family: var(--font-semibold);

    &--head {
      background: var(--color-gradient);
      color: var(--color-gray-light);
      font-size: rem(24);
    }
  }
}

.td {
  box-sizing: border-box;
  padding: rem(16) rem(32);
  border-top: rem(1) solid rgba($colorGrayDark, 0.2);
  vertical-align: top;

  &--border-blue {
    border-left: rem(4) solid var(--color-blue);
  }

  &--border-gray {
    border-left: rem(4) solid rgba($colorGrayDark, 1);
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(8);
    min-height: rem(32);

    @include media(mobile) {
      border-bottom: rem(1) solid rgba($colorGrayDark, 1);
      box-sizing: border-box;
      padding-bottom: rem(8) rem(0) rem(16);
    }

    &:last-of-type {
      @include media(mobile) {
        border: 0;
      }
    }

    &--col {
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
  }

  &__icon {
    height: rem(16);
  }

  &__icon-card {
    height: rem(32);
  }

  &__deduction-label {
    font-size: rem(14);
  }

  &__deduction-amount {
    font-size: rem(14);
  }

  &__label {
    margin: rem(8) 0;
    font-size: rem(12);
  }
}
