@import 'functions';

/** Colors */
$colorBlue: #121e6c;
$colorRed: #ee424e;
$colorGrayDark: #606060;
$colorGrayLight: #f3f3f3;
$colorBg: #f6f4f9;
$colorGradient: linear-gradient(270deg, $colorRed -50%, $colorBlue 50%);
$colorGradientRed: linear-gradient(270deg, $colorRed 50%, $colorBlue -50%);

/** Fonts */
$fontRegular: 'Font Monserrat Regular';
$fontSemibold: 'Font Monserrat Semibold';
$fontBold: 'Font Monserrat Bold';

/** Shadows */
$boxShadow: rgba($colorGrayDark, 0.2) rem(0) rem(8) rem(24);
