/** Colors */
$colorBlue: #121e6c;
$colorRed: #ee424e;
$colorGrayDark: #606060;
$colorGrayLight: #f3f3f3;
$colorBg: #f6f4f9;
$colorGradient: linear-gradient(270deg, $colorRed 13.86%, $colorBlue 83.33%);

/** Fonts */
$fontRegular: 'Font Monserrat Regular';
$fontSemibold: 'Font Monserrat Semibold';
$fontBold: 'Font Monserrat Bold';
