@import 'vars';
@import 'fonts';
@import 'functions';
@import 'mixins';

:root {
  --color-blue: #{$colorBlue};
  --color-red: #{$colorRed};
  --color-gray-dark: #{$colorGrayDark};
  --color-gray-light: #{$colorGrayLight};
  --color-bg: #{$colorBg};
  --color-gradient: #{$colorGradient};
  --color-gradient-red: #{$colorGradientRed};
  --font-regular: #{$fontRegular};
  --font-semibold: #{$fontSemibold};
  --font-bold: #{$fontBold};
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-regular);
  background-color: var(--color-bg);
}

.info {
  border-radius: 100%;
  border: rem(1) solid var(--color-gray-light);
  width: rem(14);
  height: rem(14);
  display: flex;
  font-size: rem(10);
  justify-content: center;
  align-items: center;
  font-style: normal;
  cursor: pointer;
}

.mobile {
  @include media(tablet) {
    display: none;
  }
}

.desktop {
  display: none;

  @include media(tablet) {
    display: flex;
  }
}
