@import 'vars';
@import 'fonts';

:root {
  --color-blue: #{$colorBlue};
  --color-red: #{$colorRed};
  --color-gray-dark: #{$colorGrayDark};
  --color-gray-light: #{$colorGrayLight};
  --color-bg: #{$colorBg};
  --font-regular: #{$fontRegular};
  --font-semibold: #{$fontSemibold};
  --font-bold: #{$fontBold};
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-regular);
}
