@import 'functions';
@import 'mixins';

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: rem(32);

  @include media(tablet) {
    padding: rem(64);
  }
}
